body {
    padding-top: 50px;
}

body-round {
	margin-top: 50px;
}

footer {
	margin: 50px 0;
        color: #00994C;
}

#scoreBoard {
    background-color: #73C2DA;
}

.not-visible {
    display: none;
}


