<footer>
    <div class="row">
        <div class="span2">
            Original Works StudentHack 2014
        </div>
    </div>
</footer>   
	
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="assets/javascripts/blueimp-gallery.min.js"></script>
    <script src="assets/javascripts/main.js"></script>

    
    <!-- javascript for lightbox gallery -->
    <script>
	blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
    }
);
</script>
  </body>
  
  </div>
</html>
    