	<footer class="footer-2 bg-midnight-blue">
		<!--<div class="container">-->
			<nav class="pull-left">
				<ul>
					<li>hi there</li>
				</ul>
			</nav>
			<div class="social-buttons pull right">
				<a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
	        	<a href="#"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
	        	<a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
	    	</div>
		<!--</div>-->
	</footer>    
	
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <script src="assets/javascripts/blueimp-gallery.min.js"></script>
    
    <!-- javascript for lightbox gallery -->
    <script>
	blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
    }
);
</script>
  </body>
</html>
    