@(images: List[String], price: Int)
    <!--Include header-->
	@header()	
	    
    <!-- Images scroll. Blueimp -->
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>

                <!-- The Gallery as lightbox dialog. End. -->
                <!-- Images -->
                <div id="links">
                    @for(image <- images) {
                       <a href="@image" title="Car1"> </a>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <h4>Current Score:</h4>
                <form class ="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="priceInput">Car price guess</label>
                        <input style="width: 9em;" type="number" step="100" class="form-control input-xsmall" id="price" placeholder="Enter price">
                    </div>
                    
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm">Check!</button>
                    <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                              <center><h3>Your guess:</h3></center>
                              <center><h3>Real price:</h3></center>
                              <center><button type="button" class="btn btn-primary">Buy this car</button></center>
                              <center><button type="button" class="btn btn-primary">Next</button></center>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    
@footer()
